.marker-cluster-small {
	background-color: rgba(222, 238, 204, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(166, 223, 91, 0.712);
	}

.marker-cluster-medium {
	background-color: rgba(255, 235, 168, 0.651);
	}
.marker-cluster-medium div {
	background-color: rgba(255, 227, 134, 0.664);
	}

.marker-cluster-large {
	background-color: rgba(235, 135, 135, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(252, 120, 102, 0.692);
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(140, 226, 222);
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(66, 84, 243);
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(241, 211, 87);
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(240, 194, 12);
	}

.leaflet-oldie .marker-cluster-large {
	background-color: rgb(253, 156, 115);
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(241, 128, 23);
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 18px;
	font: 13px "helvetica", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;
	}